<header>
    <nav class="navbar navbar-expand-md navbar-white fixed-top">


        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link" href="/explore"><img src="images/explore.png" alt="explore image">Explore</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/profile"><img src="images/earth-globe_2.png" alt="Diary image">My Diary</a>
                </li>
            </ul>

            <a class="navbar-brand mx-auto">
                <img src="images/logo_reduce.png" alt="small size TraveLog logo">TraveLog
            </a>
        </div>
        <div class="dropdown">
            <div class="initals">
                <!--<span class="input-group-text" id="basic-addon1">HH</span>-->
                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ session.userName }}
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/settings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/getWishList">Wish List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logOut">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="content">
    <div class="s003">
        <form method="post" action="/searchProfiles">
            <div class="inner-form">
                <div class="input-field first-wrap">
                    <div class="input-select">
                        <select data-trigger="" name="searchType">
                            <option value="Name">Name</option>
                            <option value="Age">Age</option>
                            <option value="City">City</option>
                            <option value="Country">Country</option>
                            <option value="phoneNumber">Number</option>
                        </select>
                    </div>
                </div>
                <div class="input-field second-wrap">
                    <input id="search" name="searchText" type="text" placeholder="Enter Keywords?" />
                </div>
                <div class="input-field third-wrap">
                    <button class="btn btn-search" type="submit">
                        <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 style="margin-top: 4%;">Location Gallery</h2>
            </div>
            <div class="col-md-6">
                <form method='get' action="/explore">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="LocationTypeSelect">Select Location type</label>
                                <select class="form-control" id="LocationTypeSelect" name="LocationType">
                                    <option>Historical places</option>
                                    <option>Restaurant</option>
                                    <option>Beach</option>
                                    <option>Play land</option>
                                    <option>Desert</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <button style="margin-top: 20%;" type="button" class="btn btn-color" type="submit">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="row">

            <div class="col-md-4 col-sm-6 co-xs-12 gal-item container2">
                <div class="box"> <img src="./images/_full.jpg" alt="Avatar" class="image" style="display: block;">
                    <div class="overlay">
                        <div class="text">
                            <h1 style="color: white">India</h1>
                            <a href="#" class="btn btn-primary btn-lg">View</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href="#" aria-label="TraveLog_logo"><img src="images/logo_3.png" alt="TraveLog_logo"></a></h2>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" aria-label="twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" aria-label="facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" aria-label="google" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2018 Copyright Text </p>
    </div>
</footer>
