<div class="background-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="display: flex;padding-top: 10px;">
                <img src="images/logo_2.png" alt="TravelLog" height="50">
                <h1 class="websiteName">TraveLog</h1>
            </div>
        </div>
    </div>
    <div class="form-signin">
        <div class="loginBox">
            <h3 class="login-heading">Make your adventures unforgettable.</h3>
            <div style="display: flex;justify-content: center;">
                <!--style="width: 125px;border-radius: 0px;box-shadow: 0 3px 10px rgba(0,0,0,0.50);"-->
                <a class="btn btn-signup btn-facebook" href="/auth/facebook"><i class="fa fa-facebook-square"></i>Facebook</a>
                <a class="btn btn-signup btn-google" href="/auth/google"><i class="fa fa-google-plus"></i>Google plus</a>

                <!--<div style="margin-left: 10%;"-->
                     <!--class="g-signin2"-->
                     <!--data-onsuccess="onSignIn"-->
                     <!--data-onfailure="onSignInFailure">-->
                <!--</div>-->
            </div>

            <span class="or">- or - </span>
            {{#if SignUpError}}
            <p class="error">Email already exist</p>
            {{/if}}
            {{#if loginError}}
            <p class="error">Email or Password is incorrect</p>
            {{/if}}



            <a class="btn btn-signup" onclick="ShowRegisterDiv(1)" id="SignUp_button">Register with Email</a>
            <br>
            <a class="btn btn-signup" onclick="ShowRegisterDiv(2)" id="LogIn_button">I have an account</a>




            <div id="LogIn" style="display: none;">
                <form method="post" action="/login">
                    <input type="email" class="form-control" name="Email" placeholder="Email address" required autofocus>

                    <input type="password"  class="form-control" name="password" placeholder="Password" required>

                    <div class="form-actions">
                        <button class="btn btn-lg btn-block btn-signup" type="submit" role="button">Sign in</button>
                    </div>
                    <p class="forgot_password"><a>Forgot your password?</a></p>

                    <div class="bottom_signIn">
                        <p>Not registered yet? </p>
                        <button class="btn btn-register" type="button" onclick="ShowRegisterDiv(1)">Register</button>
                    </div>
                </form>
            </div>



            <div id="SignUp" style="display: none;">
                <form method="post" action="/addNewUser">
                    <input type="email" id="inputEmail" name="Email" class="form-control" placeholder="Email address" required autofocus>

                    <div style="display: flex;justify-content: center;">
                        <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Full Name" required style="margin-right: 1%;">
                        <input type="tel" id="number" name="number" class="form-control" placeholder="Phone Number" size="8" required style="margin-left: 1%;">
                    </div>

                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>


                    <div class="form-actions">
                        <button class="btn btn-block btn-signup" type="submit" role="button">Register</button>
                    </div>

                    <p class="privacy">By clicking this button, you agree to TraveLog's <a href="/">Privacy Policy</a>
                        and <a href="#">Terms of Service</a><br>
                    </p>


                    <div class="bottom_signIn">
                        <p>Already have an account? </p>
                        <button class="btn btn-register" type="button" onclick="ShowRegisterDiv(2)">SignIn</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
