<header>
    <nav class="navbar navbar-expand-md navbar-white fixed-top">


        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link" href="/explore"><img src="../images/explore.png">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile"><img src="../images/earth-globe_2.png">My Diary</a>
                </li>
            </ul>

            <a class="navbar-brand mx-auto">
                <img src="../images/logo_reduce.png">TraveLog
            </a>
        </div>
        <div class="dropdown">
            <div class="initals">
                <span class="input-group-text" id="basic-addon1">HH</span>
                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User Name
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile/settings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="content">
    <div class="container-fluid general_header">
        <div class="row">
            <div class="col-md-12">
                <div class="data-col">
                    <p>User Name</p>
                    <p></p>
                    <h1>Journal Name</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="padding: 3%; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                <div class="card" style="width: 38rem;">
                    <img class="card-img-top" src="../images/_full.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p>Day: End Traveling is now part of who we are as family. Going out together is a wonderful opportunity to isolate yourself from our daily lives. It allows us to make room for the magic of spontaneity, to rediscover ourselves in our discussions, our silences and our complicit laughter. Leaving is also making choices. We are often told that traveling like us is expensive. Yes a bit. However, the daily material sacrifices help us to enrich our suitcase with experiences and history. And this is priceless. Above all, it is curiosity as a way of life that drives us. We chose a Muslim country to live this difference. The call to prayer, the differences between man and woman, the niqab: all these experiences will make us more tolerant people, we hope so. Morocco will have given us a lot and the memories will remain marked in us much longer than the henna ink. At the next adventure</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0%;">
                <div id="map"></div>
            </div>
        </div>
    </div>


</div>

<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href="#"><img src="../images/logo_3.png"></a></h2>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2018 Copyright Text </p>
    </div>
</footer>
